<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
  <div class="text-center">
    <mat-toolbar>Gestión de Compañía-Usuarios</mat-toolbar>
  </div>
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header style="background-color: #673ab7">
        <mat-panel-title style="color: #fff"> Compañías</mat-panel-title>
      </mat-expansion-panel-header>
      <form
        class="principal-container principal-full-width"
        [formGroup]="form"
        (ngSubmit)="search()"
        #frmCompanyUser="ngForm"
      >
        <table cellspacing="10">
          <tr>
            <td style="padding-left: 40px">
              <mat-form-field class="principal-full-width">
                <mat-select placeholder="Seleccione" [(value)]="companyId">
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let company of companies" [value]="company.idCompany">
                    {{ company.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

          </tr>
        </table>
        <div class="flex-parent jc-center">
          <button
            class="margin-right botton-width"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="frmCompanyUser.invalid"
          >
            <span>Buscar</span>
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="principal-container mat-elevation-z8">
    <mat-card>
      <mat-card-content>Usuarios de la Compañía</mat-card-content>
    </mat-card>
    <mat-table [dataSource]="dsCurrentUsersInCompany" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="text-color-bold">
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef class="text-color-bold">
          Usuario
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.userName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mail">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-color-bold">
          Correo electrónico
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.mail }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="text-color-bold"
        >Acciones
        </mat-header-cell
        >
        <mat-cell *matCellDef="let userRow">
          <button
            matTooltip="Eliminar"
            mat-button
            color="accent"
            (click)="delete(companyId,userRow.idUser)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsClient"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsClient"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="quantityCurrentUsers"
      (page)="showMore($event)"
    ></mat-paginator>
  </div>

  <div class="principal-container mat-elevation-z8">
    <mat-card>
      <mat-card-content>Usuarios disponibles para agregar</mat-card-content>
    </mat-card>
    <mat-table [dataSource]="dsAvailableUsers" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color-bold">
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color-bold">
          Usuario
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.userName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mail">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-color-bold">
          Correo electrónico
        </mat-header-cell>
        <mat-cell *matCellDef="let userRow"> {{ userRow.mail }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="text-color-bold"
        >Acciones
        </mat-header-cell
        >
        <mat-cell *matCellDef="let userRow">
          <button
            class="margin-right botton-width"
            mat-raised-button
            color="primary"
            (click)="save(userRow.idUser)"
          >
            <span>Seleccionar</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsClient"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsClient"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="quantityAvailableUsers"
      (page)="showMore($event)"
    ></mat-paginator>
  </div>
</div>
