#exclusiones propias
/target/
/.settings/
/.classpath
/.project
/.idea
/.factorypath

#Maven
target/

#idea
.idea
*.iml

#exclusiones propias
/bin
facturacion-electronica/target/
facturacion-electronica/.settings/
facturacion-electronica/.project
facturacion-electronica/.idea
facturacion-electronica/.externalToolBuilders/
facturacion-electronica/bin/
facturacion-electronica-app/target/
facturacion-electronica-app/.settings/
facturacion-electronica-app/.project
facturacion-electronica-app/.idea
facturacion-electronica-app/bin/
facturacion-electronica-app/.externalToolBuilders/
#IGNORE ECLIPSE RESOURCES PROJECTS
**/.project
**/.settings/
**/.factorypath
**/target/
/.pmd
**/.classpath
**/.metadata/
**/.sass-cache
**/.tern-project
/.checkstyle
/.eclipse-pmd

#IGNORE FILES MACOSx
**/.DS_Store