<div class="container">
  <mat-toolbar color="primary" class="toolbar" *ngIf="loginService.isLogin()">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <p class="app-name">Wallparisoft</p>

    <span class="spacer"></span>
    <a mat-flat-button color="primary" (click)="showInfoCompany()">
      {{ company }}</a
    >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_box</mat-icon>
        <span>Perfil</span>
      </button>
      <button
        mat-menu-item
        (click)="sidenav.opened = false"
        (click)="loginService.closeSession()"
      >
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav style="width: 200px">
      <img src="assets/logo.jpg" width="128" style="margin-left: 20px" />

      <div *ngFor="let m of menus">
        <button
          mat-menu-item
          (click)="sidenav.toggle()"
          routerLink="{{ m.url }}"
          style="cursor: pointer"
        >
          <mat-icon>{{ m.icon }}</mat-icon>
          <span>{{ m.name }}</span>
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
