<div class="principal-container" *ngIf="route.children.length === 0">
  <mat-toolbar>
    <mat-toolbar-row>
      <span style="margin: auto">{{ "Reestablecer contraseña" }}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <h2>
    Las instrucciones de recuperación de contraseña se enviaran al correo
    electrónico especificado en el registro.
  </h2>

  <form
    class="principal-container"
    [formGroup]="form"
    (ngSubmit)="sendMail()"
    #frmRestore="ngForm"
  >
    <mat-form-field class="principal-full-width">
      <input
        matInput
        placeholder="Mail"
        required
        formControlName="email"
        id="email"
        email="true"
      />
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="f['email'].errors?.['email']">
      Formato de email incorrecto.
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="percentage"
    ></mat-progress-bar>

    <br />
    <div class="flex-parent jc-center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="frmRestore.invalid"
      >
        Enviar correo
      </button>
    </div>
    <mat-toolbar *ngIf="message">{{ message }}</mat-toolbar>
    <mat-toolbar *ngIf="error">{{ error }}</mat-toolbar>
  </form>
</div>

<div>
  <router-outlet *ngIf="route.children.length !== 0"></router-outlet>
</div>
